.create-select-realtor-field {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "label-area label-area"
        "selector-area button-area" ;
}

.create-select-realtor-field > label {
    text-transform: capitalize;
    grid-area: label-area;
}

.create-select-realtor-field > select {
    grid-area: selector-area;
}

.create-select-realtor-field > button {
    grid-area: button-area;
}