.date-field {
    display: flex;
    flex-direction: column;
}

.date-field > label {
    text-transform: capitalize;
}

.date-field > input:read-only{
    background-color: gray;
}

.date-field > span {
    color: red;
}