.select-field {
    display: flex;
    flex-direction: column;
}

.select-field > label {
    text-transform: capitalize;
}

.select-field > select.read-only {
    background-color: gray;
}

.select-field > span {
    color: red;
}