.create-property {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3em;
    grid-template-areas:
        "fields-area"
        "controls-area";

    height: 100%;
}

.create-property > .create-property-fields {
    overflow-x: hidden;
    overflow-y: auto;
}

.create-property > .create-property-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}