.create-person {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3em;
    grid-template-areas:
        "fields-area"
        "controls-area";

    height: 100%;
}

.create-person > .create-person-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}