.update-property-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3em;
    grid-template-areas:
        "fields-area"
        "controls-area";

    height: 100%;
}

.update-property-form > .update-property-form-fields {
    overflow-x: hidden;
    overflow-y: auto;
}

.update-property-form > .update-property-form-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}