.view-property {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3em;
    grid-template-areas:
        "content-area"
        "controls-area";
    
    height: 100%;
}

.view-property > .view-property-content {
    display: flex;
    flex-direction: column;
}

.view-property > .view-property-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}